In [0]:
import pandas as pd
import numpy as np

In [0]:
df = pd.read_csv('ForestCover/covtype.csv')

In [0]:
df.head()

   Elevation  Aspect  Slope  ...  Soil_Type39  Soil_Type40  Cover_Type
0       2596      51      3  ...            0            0           5
1       2590      56      2  ...            0            0           5
2       2804     139      9  ...            0            0           2
3       2785     155     18  ...            0            0           2
4       2595      45      2  ...            0            0           5

[5 rows x 55 columns]

In [0]:
X = df.drop('Cover_Type', axis=1)
y = df['Cover_Type']
y = pd.get_dummies(y)

In [0]:
X.shape

(581012, 54)

In [0]:
y.shape

(581012, 7)

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [0]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [0]:
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [0]:
from keras.models import Sequential
from keras.layers import Dense, Dropout

Using TensorFlow backend.

In [0]:
classifier = Sequential()

WARNING: Logging before flag parsing goes to stderr.
W0630 09:08:31.584747 139808145332096 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [0]:
classifier.add(Dense(units=2048, activation='relu', input_dim=54))

W0630 09:08:31.634981 139808145332096 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0630 09:08:31.644464 139808145332096 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

In [0]:
classifier.add(Dropout(0.2))

W0630 09:08:31.665533 139808145332096 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:133: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

W0630 09:08:31.679302 139808145332096 deprecation.py:506] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

In [0]:
classifier.add(Dense(units=1024, activation='relu'))
classifier.add(Dropout(0.2))
classifier.add(Dense(units=512, activation='relu'))
classifier.add(Dropout(0.2))
classifier.add(Dense(units=7, activation='softmax'))

In [0]:
classifier.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

W0630 09:08:31.775915 139808145332096 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

W0630 09:08:31.807264 139808145332096 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3295: The name tf.log is deprecated. Please use tf.math.log instead.

In [0]:
classifier.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 2048)              112640
_________________________________________________________________
dropout_1 (Dropout)          (None, 2048)              0
_________________________________________________________________
dense_2 (Dense)              (None, 1024)              2098176
_________________________________________________________________
dropout_2 (Dropout)          (None, 1024)              0
_________________________________________________________________
dense_3 (Dense)              (None, 512)               524800
_________________________________________________________________
dropout_3 (Dropout)          (None, 512)               0
_________________________________________________________________
dense_4 (Dense)              (None, 7)                 3591
=================================================================
Total params: 2,739,207
Trainable params: 2,739,207
Non-trainable params: 0
_________________________________________________________________

In [0]:
classifier.fit(X_train, y_train, epochs=50, batch_size=1024)

Epoch 1/50
406708/406708 [==============================] - 4s 11us/step - loss: 0.3539 - acc: 0.8513
Epoch 2/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.3264 - acc: 0.8640
Epoch 3/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.3051 - acc: 0.8727
Epoch 4/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.2879 - acc: 0.8800
Epoch 5/50
406708/406708 [==============================] - 4s 11us/step - loss: 0.2731 - acc: 0.8870
Epoch 6/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.2611 - acc: 0.8921
Epoch 7/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.2518 - acc: 0.8968
Epoch 8/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.2426 - acc: 0.9004
Epoch 9/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.2352 - acc: 0.9036
Epoch 10/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.2293 - acc: 0.9067
Epoch 11/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.2225 - acc: 0.9092
Epoch 12/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.2163 - acc: 0.9110
Epoch 13/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.2129 - acc: 0.9125
Epoch 14/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.2075 - acc: 0.9152
Epoch 15/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.2042 - acc: 0.9168
Epoch 16/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1997 - acc: 0.9186
Epoch 17/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1955 - acc: 0.9196
Epoch 18/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1920 - acc: 0.9214
Epoch 19/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1887 - acc: 0.9233
Epoch 20/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1876 - acc: 0.9235
Epoch 21/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1834 - acc: 0.9256
Epoch 22/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1826 - acc: 0.9258
Epoch 23/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1787 - acc: 0.9272
Epoch 24/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1773 - acc: 0.9280
Epoch 25/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1757 - acc: 0.9287
Epoch 26/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1737 - acc: 0.9294
Epoch 27/50
406708/406708 [==============================] - 4s 11us/step - loss: 0.1713 - acc: 0.9296
Epoch 28/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1703 - acc: 0.9304
Epoch 29/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1680 - acc: 0.9316
Epoch 30/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1669 - acc: 0.9323
Epoch 31/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1650 - acc: 0.9332
Epoch 32/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1637 - acc: 0.9336
Epoch 33/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1625 - acc: 0.9340
Epoch 34/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1608 - acc: 0.9350
Epoch 35/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1594 - acc: 0.9352
Epoch 36/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1575 - acc: 0.9361
Epoch 37/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1575 - acc: 0.9359
Epoch 38/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1556 - acc: 0.9368
Epoch 39/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1540 - acc: 0.9376
Epoch 40/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1532 - acc: 0.9377
Epoch 41/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1512 - acc: 0.9383
Epoch 42/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1519 - acc: 0.9385
Epoch 43/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1508 - acc: 0.9386
Epoch 44/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1489 - acc: 0.9395
Epoch 45/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1488 - acc: 0.9396
Epoch 46/50
406708/406708 [==============================] - 4s 11us/step - loss: 0.1479 - acc: 0.9404
Epoch 47/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1474 - acc: 0.9401
Epoch 48/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1462 - acc: 0.9404
Epoch 49/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1442 - acc: 0.9415
Epoch 50/50
406708/406708 [==============================] - 4s 10us/step - loss: 0.1436 - acc: 0.9415

In [0]:
result = classifier.evaluate(X_test, y_test)

174304/174304 [==============================] - 7s 38us/step

In [0]:
print(classifier.metrics_names)
print(result)

['loss', 'acc']
[0.12337761028232581, 0.9511256196071232]

In [0]:
# Save the weights
model.save_weights('model_weights.h5')

# Save the model architecture
with open('model_architecture.json', 'w') as f:
    f.write(model.to_json())